@charset "utf-8";
.container{
    width: 500px;
    margin: 30px auto;
}
.box{
    width: 100px;
    height: 100px;
    float: left;
    margin: 50px;
}

#box1{
    background-color: cornflowerblue;
    border: 1px solid transparent;
    animation-name: shape;
    animation-duration: 5s;
    /* animation-iteration-count: infinite; */
}
#box2{
    background-color: slateblue;
    border: 1px solid transparent;
    animation-name: rotate;
    animation-duration: 5s;
    /* animation-iteration-count: infinite */
}
#box3{
background-color: blueviolet;
/* animation-name: moving;    
animation-duration: 3s;
animation-timing-function: ease-in;
animation: alternate;
animation-iteration-count: infinite; */
animation: moving 3s alternate infinite ease-in
, background 3s infinite ;
}
#box4{
    background-color: darkgreen;
    animation: ani2;
    animation-duration: 1s;
    animation-iteration-count: 5;
    
}

@keyframes shape {
    from{
        border: 1px solid transparent;
    }
    to{
        border: 1px solid #222;
        border-radius: 50%;
    }
}

@keyframes rotate{
    from{
        transform: rotate(0deg) scale(0);
    }
    to{
        transform: rotate(720deg) scale(1);
    }
}
@keyframes moving{
    from{
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50%{
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    to{
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}
@keyframes background{
    from{
        background-color: blueviolet;
    }
    50%{
        background-color: plum;
    }
    to{
        background-color: deepskyblue;
    }
}